<nav class="navbar navbar-expand-lg bg-success" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <style>
            .dropdown-menu li {
                position: relative;
            }
            .dropdown-menu .dropdown-submenu {
                display: none;
                position: absolute;
                left: 100%;
                top: -7px;
            }
            .dropdown-menu .dropdown-submenu-left {
                right: 100%;
                left: auto;
            }
            .dropdown-menu > li:hover > .dropdown-submenu {
                display: block;
            }
        </style>
    </head>
    <div class="container-fluid">
        <!--        <a class="navbar-brand" href="/"><img th:src="@{/icon.png}" width="30"></a>-->
        <a class="navbar-brand" href="/">Home</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" th:href="@{/products/show}">Show all</a>
                        </li>
                        <li class="dropdown" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EMPLOYEE')">

                            <a class="dropdown-item" href="#">
                                Add new product &raquo;
                            </a>
                            <ul class="dropdown-menu dropdown-submenu">
                                <li><a class="dropdown-item" th:href="@{/products/add?productType=Drink}">Drink</a></li>
                                <li><a class="dropdown-item" th:href="@{/products/add?productType=Food}">Food</a></li>
                                <li><a class="dropdown-item"
                                       th:href="@{/products/add?productType=Sanitary}">Sanitary</a></li>
                                <li><a class="dropdown-item" th:href="@{/products/add?productType=Railing}">Railing</a>
                                </li>
                                <li><a class="dropdown-item"
                                       th:href="@{/products/add?productType=Accessory}">Accessory</a></li>
                                <li><a class="dropdown-item" th:href="@{/products/add?productType=Decoration}">Decoration</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/products/add?productType=Others}">Others</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EMPLOYEE')">

                            <a class="dropdown-item" href="#">
                                Search products &raquo;
                            </a>
                            <ul class="dropdown-menu dropdown-submenu">
                                <li><a class="dropdown-item" th:href="@{/products/searchByPrice}">By price</a></li>
                                <li><a class="dropdown-item" th:href="@{/products/searchByQuantity}">By quantity</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EMPLOYEE')">
                    <a class="nav-link" th:href="@{/orders/show}">Orders</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <form class="d-flex" role="search" th:action="@{/products/search}">
                    <input class="form-control me-2" type="search" placeholder="Search for products.."
                           aria-label="Search" name="searchString">
                    <button class="btn btn-dark mр-3" type="submit" style="margin-right: 20px;">Search</button>
                </form>
                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link text-white" th:inline="text" style="display: inline-block;" sec:authorize="hasRole('ROLE_USER')">Hello
                        <a th:href="@{/user/profile}" th:inline="text" th:text="${#authentication.name}" class="text-white" style="display: inline;"></a>
                    </a>
                    <a class="nav-link text-white" th:inline="text" style="display: inline-block;" sec:authorize="hasRole('ROLE_EMPLOYEE')">Hello
                        <a th:href="@{/employee/profile}" th:inline="text" th:text="${#authentication.name}" class="text-white" style="display: inline;"></a>
                    </a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="nav-link text-white">Logout</button>
                    </form>
                </li>

                <li th:unless="${#authorization.expression('isAuthenticated()')}" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Login
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg-end">
                        <li><a class="dropdown-item" th:href="@{/user/login}">Login as user</a></li>
                        <li><a class="dropdown-item" th:href="@{/employee/login}">Login as employee</a></li>
                    </ul>
                </li>
<!--                <li th:unless="${#authorization.expression('isAuthenticated()')}" class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"-->
<!--                       aria-expanded="false">-->
<!--                        Register-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu position-absolute" style="left: 0 !important;">-->
<!--                        <li><a class="dropdown-item" th:href="@{/user/register}">Register as user</a></li>-->
<!--                        <li><a class="dropdown-item" th:href="@{/employee/register}">Register as employee</a></li>-->
<!--                    </ul>-->
<!--                </li>-->

            </ul>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </div>
</nav>