<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/head.html(title='Employees')}"></head>
<nav th:insert="~{fragments/navbar.html}"></nav>


<body class="d-flex flex-column min-vh-100">
<div class="col-8 container flex-grow-1 mt-7 mb-7">
    <h1> All employees </h1>
    </hr>
    <div class="row justify-content-center">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col" style="width: 140px;">Salary</th>
                <th scope="col" style="width: 150px;">Status</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}" th:class="${employee.salary == null} ? 'table-danger' : ''">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.username}"></td>
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.email}"></td>
                <form th:action="@{/admin/updateEmployeeStatus}" method="post">
                    <input type="hidden" name="employeeId" th:value="${employee.id}" />
                    <td>
                        <input type="number" name="salary" th:if="${employee.salary != null}" th:value="${employee.salary}" placeholder="Enter salary" />
                        <input type="number" th:if="${employee.salary == null}" name="salary" placeholder="Enter salary" />

                    </td>
                    <td style="position: relative;">
                        <select name="employeeStatus">
                            <option value="true" th:selected="${employee.isEnabled} == true">Enabled</option>
                            <option value="false" th:selected="${employee.isEnabled} == false">Disabled</option>
                        </select>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<div th:replace="~{fragments/footer.html}"></div>
</html>