<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/head.html(title='View Product')}"></head>
<nav th:insert="~{fragments/navbar.html}"></nav>


<body class="d-flex flex-column min-vh-100">

<div class="col-6 container flex-grow-1 mt-5 mb-5">

    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action="#" th:action="@{/products/add_to_basket}" th:object="${product}" method="post">
                <input type="hidden" name="productId" th:value="${product.id}"/>

                <input type="hidden" th:field="*{id}"/>

                <img th:src="@{'/images/' + ${product.imageLocation}}" class="card-img-top img-fluid mb-5"/>


                <p class="fw-medium lead" th:text="${product.name}"></p>

                <p class="fw-normal lead">Price: <span class="text-primary" th:text="${product.price + ' лв.'}"></span>
                </p>
                <p class="fw-normal lead">
                    <span th:if="${product.quantity == 0}" class="text-danger">OUT OF STOCK</span>
                <p th:unless="${product.quantity == 0}"  class="fw-normal lead">Stock: <span class="text-success" th:text="${product.quantity}"></span></p>

                </p>

                <div class="form-group" th:if="${product.class.simpleName  == 'Food'}">
                    <p class="fw-normal lead">Expiry date: <span th:text="${product.expiryDate}"></span></p>
                </div>

                <div class="form-group" th:if="${product.class.simpleName  == 'Drink'}">
                    <p class="fw-normal lead">Best before: <span th:text="${product.bestBefore}"></span></p>
                </div>

                <div class="form-group" th:if="${product.class.simpleName  == 'Decoration'}">
                    <p class="fw-normal lead">Material: <span th:text="${product.material.name}"></span></p>
                    <p class="fw-normal lead">Brand: <span th:text="${product.brand.name}"></span></p>
                </div>

                <div class="form-group" th:if="${product.class.simpleName  == 'Accessories'}">
                    <p class="fw-normal lead">Brand: <span th:text="${product.brand.name}"></span></p>
                    <p class="fw-normal lead">Color: <span th:text="${product.color.name}"></span></p>
                </div>

                <div class="form-group" th:if="${product.class.simpleName  == 'Others'}">
                    <p class="fw-normal lead">Material: <span th:text="${product.material.name}"></span></p>
                    <p class="fw-normal lead">Color: <span th:text="${product.color.name}"></span></p>
                </div>

                <div class="form-group" th:if="${product.class.simpleName  == 'Railing'}">
                    <p class="fw-normal lead">Material: <span th:text="${product.material.name}"></span></p>
                    <p class="fw-normal lead">Brand: <span th:text="${product.brand.name}"></span></p>
                    <p class="fw-normal lead">Color: <span th:text="${product.color.name}"></span></p>
                    <p class="fw-normal lead">Outdoor: <span th:text="${product.isOutdoor}"></span></p>
                    <p class="fw-normal lead">Non slip: <span th:text="${product.isNonSlip}"></span></p>
                </div>

                <div class="form-group" th:if="${product.class.simpleName  == 'Sanitary'}">
                    <p class="fw-normal lead">Material: <span th:text="${product.material.name}"></span></p>
                    <p class="fw-normal lead">Biodegradable: <span th:text="${product.isBiodegradable}"></span></p>
                    <p class="fw-normal lead">Reusable: <span th:text="${product.getReusable}"></span></p>
                </div>

                <hr class="my-4">

                <a th:href="@{'/user/login'}" sec:authorize="isAnonymous()" class="btn btn-primary">Login to Add to Cart</a>

                <div class="row" sec:authorize="hasRole('ROLE_USER')">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="quantity">Quantity:</label>
                            <input type="number" class="form-control" id="quantity" name="quantity" min="1" th:attr="max=${product.quantity}" value="1">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <button th:if="${product.quantity > 0}" class="btn btn-primary btn-block mt-4" type="submit">Add to Basket
                        </button>
                        <button th:unless="${product.quantity > 0}" class="btn btn-primary btn-block mt-4" type="submit" disabled>Add to Basket
                        </button>
                    </div>
                </div>

                <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EMPLOYEE')">
                    <a th:if="${!product.isDeleted}" th:href="@{'/products/edit/' + ${product.id}}" class="btn btn-warning">Edit</a>
                    <a th:if="${!product.isDeleted}" th:href="@{'/products/delete?id=' + ${product.id}}" class="btn btn-danger">Delete</a>
                    <!-- Show back to stock button if the product is deleted. The page uses the same form. No Edit button for now. TODO -->
                    <a th:if="${product.isDeleted}" th:href="@{'/products/undelete?id=' + ${product.id}}" class="btn btn-danger">Add Back to Stock</a>
                </div>

                <div th:if="${stockNotEnoughError}" class="alert alert-danger">
                    <p th:text="${stockNotEnoughError}"></p>
                </div>

                <div th:if="${productAddedMessage}" class="alert alert-success">
                    <p th:text="${productAddedMessage}"></p>
                </div>

                <div th:if="${usersOnlyError}" class="alert alert-danger">
                    <p th:text="${usersOnlyError}"></p>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<div th:replace="~{fragments/footer.html}"></div>
</html>