<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/head.html(title='Add product')}"></head>
<nav th:insert="~{fragments/navbar.html}"></nav>


<body class="d-flex flex-column min-vh-100">

<div class="col-6 container flex-grow-1 mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4 text-center">Add new <span th:text="${param.productType}"></span></h2>
            <form action="#" name="productType" th:action="@{/products/save}" th:object="${productRequestDto}"
                  method="post" enctype="multipart/form-data">
                <input type="hidden" name="productType" th:value="${param.productType}">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" th:field="*{name}" class="form-control" id="name"
                           placeholder="Enter product name">
                    <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" th:field="*{price}" class="form-control" id="price" placeholder="Enter price"
                           step="0.01">
                    <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="number" th:field="*{quantity}" class="form-control" id="quantity"
                           placeholder="Enter quantity">
                    <span class="text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
                </div>

                <div class="form-group mt-3 mb-3">
                    <label>Upload Image</label>
                    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                    <div class="form-group">
                        <input type="file" id="imageInput" name="image" accept="image/*" class="form-control-file">
                    </div>
                    <button type="button" id="uploadButton" class="btn btn-primary mt-3 mb-3">Upload image</button>
                    <input type="hidden" id="imageFileName" th:field="*{imageLocation}" name="imageLocation">
                    <img th:if="${imageLocation == null}" src="/images/no_img.png" alt="No Image Available"
                         class="img-thumbnail" style="max-width: 400px; max-height: 400px;"/>
                    <img th:if="${imageLocation != null}" th:src="'/images/' + ${imageLocation}" alt="Product picture"
                         class="img-thumbnail" style="max-width: 400px; max-height: 400px;">
                </div>
                    <span class="text-danger" th:if="${#fields.hasErrors('imageLocation')}"
                          th:errors="*{imageLocation}"></span>

                <div class="form-group" th:if="${productType == 'Drink'}">
                    <label for="bestBefore">Best before:</label>
                    <input type="date" th:field="*{bestBefore}" class="form-control" id="bestBefore">
                </div>
                <div class="form-group" th:if="${productType == 'Food'}">
                    <label for="expiryDate">Expiry Date:</label>
                    <input type="date" th:field="*{expiryDate}" class="form-control" id="expiryDate">
                </div>
                <div th:if="${productType == 'Sanitary'}">
                    <div class="form-group">
                        <label for="isBiodegradable">Is the product biodegradable:</label>
                        <select th:field="*{isBiodegradable}" class="form-select" id="isBiodegradable">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="isReusable">Is the product reusable:</label>
                        <select th:field="*{isReusable}" class="form-select" id="isReusable">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="materials">Material:</label>
                        <select th:field="*{material}" class="form-select" id="materials">
                            <option th:each="material : ${materials}" th:value="${material.id}"
                                    th:text="${material.name}"></option>
                        </select>
                    </div>
                </div>
                <div th:if="${productType == 'Railing'}">
                    <div class="form-group">
                        <label for="material">Material:</label>
                        <select th:field="*{material}" class="form-select" id="material">
                            <option th:each="material : ${materials}" th:value="${material.id}"
                                    th:text="${material.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="color">Color:</label>
                        <select th:field="*{color}" class="form-select" id="color">
                            <option th:each="color : ${colors}" th:value="${color.id}"
                                    th:text="${color.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="brand">Brand:</label>
                        <select th:field="*{brand}" class="form-select" id="brand">
                            <option th:each="brand : ${brands}" th:value="${brand.id}"
                                    th:text="${brand.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="isOutdoor">Is the railing outdoor:</label>
                        <select th:field="*{isOutdoor}" class="form-select" id="isOutdoor">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="isNonSlip">Is the railing non-slip:</label>
                        <select th:field="*{isNonSlip}" class="form-select" id="isNonSlip">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div th:if="${productType == 'Accessories'}">
                    <div class="form-group">
                        <label for="colorAccessory">Color:</label>
                        <select th:field="*{color}" class="form-select" id="colorAccessory">
                            <option th:each="color : ${colors}" th:value="${color.id}"
                                    th:text="${color.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="brandAccessory">Brand:</label>
                        <select th:field="*{brand}" class="form-select" id="brandAccessory">
                            <option th:each="brand : ${brands}" th:value="${brand.id}"
                                    th:text="${brand.name}"></option>
                        </select>
                    </div>
                </div>
                <div th:if="${productType == 'Decoration'}">
                    <div class="form-group">
                        <label for="brandDecoration">Brand:</label>
                        <select th:field="*{brand}" class="form-select" id="brandDecoration">
                            <option th:each="brand : ${brands}" th:value="${brand.id}"
                                    th:text="${brand.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="materialDecoration">Material:</label>
                        <select th:field="*{material}" class="form-select" id="materialDecoration">
                            <option th:each="material : ${materials}" th:value="${material.id}"
                                    th:text="${material.name}"></option>
                        </select>
                    </div>
                </div>

                <div th:if="${productType == 'Others'}">
                    <div class="form-group">
                        <label for="materialOthers">Material:</label>
                        <select th:field="*{material}" class="form-select" id="materialOthers">
                            <option th:each="material : ${materials}" th:value="${material.id}"
                                    th:text="${material.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="othersColor">Color:</label>
                        <select th:field="*{color}" class="form-select" id="othersColor">
                            <option th:each="color : ${colors}" th:value="${color.id}"
                                    th:text="${color.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="text-center mt-5">
                    <button type="submit" class="btn btn-primary btn-lg">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script th:inline="javascript">
    $(document).ready(function () {
        // When binding error - load the img tag with the src of the image
        var imageLocation = /*[[*{productRequestDto.imageLocation}]]*/ null; // Fetching imageLocation from the Thymeleaf model
        if (imageLocation) {
            console.log('not null:', imageLocation);
            $('img').attr('src', '/images/' + imageLocation);
        }

        $('#uploadButton').click(function () {
            var formData = new FormData();
            var fileInput = document.getElementById('imageInput').files[0];
            formData.append('image', fileInput);

            // Fetch CSRF token from the hidden input field
            var csrfToken = $("input[name='_csrf']").val();

            $.ajax({
                type: 'POST',
                url: '/products/upload',
                data: formData,
                contentType: false,
                processData: false,
                dataType: 'json',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRF-TOKEN', csrfToken);
                },
                success: function(data) {
                    var imgName = data.img_name;
                    console.log(imgName)
                    $('#imageFileName').val(imgName);
                    $('img').attr('src', '/images/' + imgName);
                    formData.append('imageFileName', imgName);
                    formData.append('image', fileInput);
                },
                error: function (error) {
                    console.log('Error uploading image: ' + error);
                }
            });
        });
    });
</script>


</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<div th:replace="~{fragments/footer.html}"></div>
</html>